<h1>Orders#create</h1>
<p>Find me in app/views/orders/create.html.erb</p>
<%# もしかしたらこのページいらないかも %>
<div class="container mb-auto">
  <div class="row">
    <div class="col-2">
      <p>shipping cart</p>
    </div>
    <div class="col-1 offset-9">
      <div class="pull-right">All clear</div>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <%# ここでeachを回してcart_itemを入力する%>
          <th>a</th>
          <th>b</th>
          <th>c</th>
          <th>d</th>
          <th>e</th>
        <%# ここまで %>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-2 offset-1">
      <%= link_to "買い物を続ける", items_path, class: 'btn btn-info' %>
    </div>
    <div class="col-2 offset-7">
      <p>合計金額：</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2 offset-5">
      <%= link_to "情報入力へ進む", order_path(current_customer), class: 'btn btn-success' %>
    </div>
  </div>
</div>