<<<<<<< HEAD
<h1>Homes#about</h1>
<p>Find me in app/views/homes/about.html.erb</p>
=======
<h1>About</h1>
<p>
  ながのCAKEは全国発送可能なケーキ屋さんです。</br>
  お⼦様からお年寄りの⽅までお召し上がりいただけるよう、</br>
  様々なバリエーションをご⽤意しております。</br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。</br>
  ぜひご注⽂ください。
</p>
>>>>>>> 03fa423b8822b8caa702cd72d3c50cd9642c05d4
