<<<<<<< HEAD
<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>
=======
<div class='container px-5 px-sm-0'>
<div class="row">
  <div>
    <p>
      ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない⽅も商品の閲覧はできますが、</br>
      購⼊には会員登録が必要になります。
    </p>
 </div>
 <div>
  <h2>新着商品</h2>
 </div>

  <%= link_to "全ての商品を⾒る >", "#" %>
</div>
</div>
>>>>>>> 03fa423b8822b8caa702cd72d3c50cd9642c05d4
