<div class='container'>
<div class="row">
  <div >
    <p>
      ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない⽅も商品の閲覧はできますが、</br>
      購⼊には会員登録が必要になります。
    </p>
 </div>
 <div>
    <div>
      <h3><strong>新着商品</strong></h3>
    </div>
  </div>
  <div>
    <%= link_to "全ての商品を⾒る >", "#" %>
  </div>
</div>
</div>
