/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#error_explanation {
	color: red;
}

.form{
  margin-right: 50px;
}

.title{
  margin-left: 50px;
  margin-bottom: 40px;
}

.pagination>li>a {
  border: none;
  color: #696969;
}


.pagination>.active>a {
  background: #93c9ff;
}

.true{
  color: green
}

.devise-p{
  margin-left: 70px;
}